* {
	font-family: Helvetica, sans-serif;
}

.heading {
	color: DarkGreen;
	font-family: 'Bubbler One', sans-serif;
}

h3 {
	color: seagreen;
	font-family: 'Bubbler One', sans-serif;
	font-weight: bold;
}